<!DOCTYPE html>
<html>
<head>
<title>Qui a proposé ... ? Devinez quel candidat se cache derrière chaque proposition. </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<meta property="og:image"
      content="https://julienreszka.github.io/quiapropose/banner.png" 
      />
<meta name="twitter:image" 
      content="https://julienreszka.github.io/quiapropose/banner.png"
      >

<link rel="icon" href="favicon.ico?">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script  src="js/app.js"></script>
<style type="text/css">
  .btn {
    background-color:#051440;
  }
  .btn:hover {
    background-color:#EC1920;
  }
</style>
</head>
  <body ng-app="app" 
    class="grey lighten-4" >
    <svg 
      id="top"
      width="100%"
      height="20px"
    >
      <rect x="" y="" width="34%" height="20px" fill="#051440" stroke="none" stroke-width=""/>
      <rect x="33%" y="" width="34%" height="20px" fill="#FFFFFF" stroke="none" stroke-width=""/>
      <rect x="66%" y="" width="34%" height="20px" fill="#EC1920" stroke="none" stroke-width=""/>
    </svg>
    <div class="navbar" >
      <nav class="black">
        <div class="nav-wrapper">
          <span class=" waves-effect waves-light">
          <a  href="/" 
            class="logo white-text " 
            style="padding-left:15px; padding-right:15px; font-size:1.2em;">
          Qui a proposé ... ?
          </a> 
          </span>
          <span class="hide-on-med-and-down">
            Devinez quel candidat se cache derrière chaque proposition.
          </span>
          
        </div>
      </nav>
    </div>

    <main>
    <br>
    <div  ng-controller="PostController">
      <div class="container">
        <div class="nav-wrapper">
          <div class="search-wrapper card">
            <i  class="material-icons"
              id="search-icon"
              >
            search
            </i>
            <input  ng-model="q" 
              type="search" 
              id="search"
              class="black-text"
              placeholder="Filtrer avec des mots clés"
              >
          </div>
        </div>
      </div>

      <div class="container " ng-cloak>
        <span>
          <b>{{results.length}}</b> propositions  
        </span>
        <span ng-hide="q == null || q == ''">
          pour la recherche 
        </span>
        <span>
            <b>{{q | uppercase}}</b>
          </span>
        : 
        <div
          ng-repeat="
                  post in posts 
                  | orderBy:'rank' 
                  | advanceFilter: q  as results track by $index">
        <div class="card-panel">
          {{post.proposition}}
          <br>

          <div class="center">
            <button
              class="btn" 
              ng-click="post.open=true;"
              ng-hide="post.open"
              >
            Qui ?
            </button>
            <br>
            <div 
              ng-show="post.open"
            >
              <img  
                ng-src="photos-candidats/{{post.candidat}}.jpg" 
                class="responsive-img " 
                style="max-height:50vh"
              >
              <br>
              {{post.candidat}}
              
            </div>
          </div>
        </div>
        </div>
        <div  class="card-panel center"
              ng-show="results.length == 0">
          <i class="material-icons">
            announcement
          </i>
          <br>
          Désolé on a rien trouvé
          <br>
          Assayez d'autre mots clés, s'il vous plait.
        </div>
      </div>
    </div>

    <br>
    <div  class="fixed-action-btn" 
      style="bottom: 35px; right: 24px;" 
      title="Remonter en haut de page">
    <a  href="#top" 
        class="btn-floating btn-large grey waves-effect waves-light"
      >
    <i  class="material-icons"
      >
    vertical_align_top
    </i>
    </a>
    </div>
    </main>
    <footer>
      <div class="center">
      L'auteur du site web ne peut etre tenu responsable en cas d'erreurs.
      <br>
      C'est le devoir de chaque citoyen de recouper les sources et conserver un regard critique sur l'information.
      
      <br>
      <br>
      Créé par 
      <a 
        href="https://twitter.com/JulienReszka"
        target="_blank" 
      >
      Julien Reszka
      </a>
      </div>
      <br>
    </footer>
  </body>
</html>